#container{
    position: relative;
    height: 40vw;
    width: 40vw;
    background-image:url('backgroungpic.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin:auto;
}
#hours , #minutes , #seconds{
    position: absolute;
    background-color: #000000;
    border-radius: 5vw;
    transform-origin: bottom;
}
#hours{
    left: 49.5%;
    height: 17%;
    width: 1.5%;
    top: 34%;
}
#minutes{
    top: 16%;
    left: 49.5%;
    height: 35%;
    width: 1.5%;
}
#seconds{
    top: 8%;
    left: 49.5%;
    height: 43%;
    width: 1%;
}